.dotfiles
.zen
.steam
.spicetify
.npm
.mozilla
.local/state/
.local/share/
.config/discord/
.config/Vencord/
.config/obsidian/
.cache

Documents
Downloads
Games
Movies
Obsidian
Pictures
Recordings
Shows
