:root {
  --tf-font-family: "JetBrainsMono Nerd Font", monospace;
  --tf-font-size: 14px;
  --tf-accent: #C75465;
  --tf-bg: #1A1B1F;
  --tf-border: #7F8083;
  --tf-border-transition: 0.2s ease;
  --tf-border-width: 1px;
  --tf-rounding: 0px;
  --tf-margin: 0.8rem; /* Margin used between elements in sidebery */
  --tf-text-transform: none; /* Text transform to use */
  --tf-display-horizontal-tabs: block; /* If horizontal tabs should be shown, none = hidden, block = shown */
  --tf-display-window-controls: none;
  --tf-display-nav-buttons: none;
  --tf-display-urlbar-icons: none;
  --tf-display-sidebar-tools: none;
  --tf-display-titles: none;
  --tf-newtab-logo: "   __            __  ____          \A   / /____  _  __/ /_/ __/___  _  __\A  / __/ _ \\| |/_/ __/ /_/ __ \\| |/_/\A / /_/  __/>  </ /_/ __/ /_/ />  <  \A \\__/\\___/_/|_|\\__/_/  \\____/_/|_|  ";
  --tf-navbar-margin: 10px 8px 0px;
  --tf-navbar-padding: 4px;
}
