@define-color bg           #1A1B1F;
@define-color fg           #DADBDD;
@define-color pink         #C75465;
@define-color green        #65AD5F;
@define-color grey         #7F8083;
@define-color yellow       #D9A72C;
@define-color darkgrey     #3B3C3F;
@define-color muted        #202124;
@define-color muted_light  #2A2B2F;
@define-color orange       #D37838;
@define-color red          #D04A3B;

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: normal;
    font-size: 15px;
    min-height: 0;
    background: transparent;
}

#custom-bt_headset,
#custom-bt_keyboard,
#custom-bt_mouse,
#clock,
#custom-media,
#custom-cava,
#tray,
#temperature,
#temperature.critical,
#battery,
#network,
#backlight,
#pulseaudio,
#pulseaudio.microphone,
#custom-power {
    color: @fg;
    background: @bg;
    border: 0px solid @pink;
}

#custom-bt_headset {
    border-right-width: 0;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px 0 0 10px;
    margin: 5px 0;
}

#custom-bt_keyboard {
    border-right-width: 0;
    border-left-width: 0;
    margin: 5px 0;
    padding-right: 10px;
}

#custom-bt_mouse {
    border-left-width: 0;
    padding-right: 10px;
    margin: 5px 0;
    border-radius: 0 10px 10px 0;
}

#custom-media {
    padding: 0 10px;
    margin: 5px 5px;
    border-radius: 10px;
}

#custom-cava {
    padding: 0px 5px;
    margin: 5px 0px;
    border-radius: 10px;
}

#custom-power {
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 5px;
    margin: 5px 0px;
}

#network {
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
}

#network.disconnected {
    border-radius: 10px;
    padding: 5px 9px;
    padding-right: 5px;
    margin: 5px;
}

#network.ethernet {
    border-radius: 10px;
    padding: 5px 10px;
    padding-right: 5px;
    margin: 5px;
}

#clock {
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 5px;
}

#tray {
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 5px;
}

#temperature {
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 5px;
}

#temperature.critical {
    color: @orange;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 5px;
}

#battery {
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 0;
}

#battery.warning {
    color: @orange;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 0;
}

#battery.critical {
    color: @red;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 0;
}

#backlight {
    border-right-width: 0;
    border-radius: 10px 0px 0px 10px;
    padding: 5px 5px;
    margin: 5px 0px;
}

#pulseaudio {
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0px;
    padding: 5px 0px;
    margin: 5px 0px;
}

#pulseaudio.microphone {
    border-left-width: 0;
    border-radius: 0 10px 10px 0;
    padding: 5px 10px;
    margin: 5px 0px;
    margin-right: 5px;
}

