// Input
input {
    keyboard {
        xkb {

        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
        scroll-factor 0.3
    }
    focus-follows-mouse
}

// Output
output "eDP-1" {
    background-color "#1A1B1F"
    backdrop-color "#202124"
}

// Layout
layout {
    gaps 2
    always-center-single-column
    center-focused-column "never"

    preset-column-widths {
        proportion 0.5
        proportion 0.75
    }

    default-column-width { proportion 1.0; }

    focus-ring {
        width 2

        active-color "#C75465"
        inactive-color "#3B3C3F"
    }

    border {
        off

        width 2

        active-color "#C75465"
        inactive-color "#3B3C3F"
        urgent-color "#D04A3B"
    }
}

// Startup
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"

spawn-at-startup "waybar"

spawn-at-startup "zen-browser"
spawn-at-startup "vesktop"
spawn-at-startup "steam"
spawn-at-startup "spotify"
spawn-at-startup "obsidian"

spawn-at-startup "swww-daemon"
spawn-at-startup "swww" "img" "~/.config/wallpapers/pixel-computer.png"

hotkey-overlay {
    skip-at-startup
}

// Rules
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

// Keybinds
binds {

    Mod+space { spawn "tofi-drun" "--drun-launch=true"; }

    Mod+T { spawn "kitty"; }
    Mod+W { spawn "zen-browser"; }
    Mod+S { spawn "spotify"; }
    Mod+B { spawn "vlc"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q { close-window; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+Ctrl+H { move-column-left; }
    Mod+Ctrl+J { move-window-down; }
    Mod+Ctrl+K { move-window-up; }
    Mod+Ctrl+L { move-column-right; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }

    Mod+Tab { focus-workspace-previous; }

    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+Ctrl+Shift+F { toggle-windowed-fullscreen; } // Fake fullscreen

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V { toggle-window-floating; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }

    Mod+Shift+L { spawn "hyprlock"; }

    Mod+Shift+C { spawn "hyprpicker" "-arl"; }

    Mod+Shift+P { power-off-monitors; }
}

// Misc
overview {
    zoom 0.67
}

gestures {
    hot-corners {
        off
    }
}

screenshot-path "~/Pictures/Screenshots/grab.png"
