/**
 * @name system24
 * @description a tui-like discord theme.
 * @author refact0r
 * @version 2.0.0
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/system24
 * @source https://github.com/refact0r/system24/blob/master/theme/system24.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* import theme modules */
@import url('https://refact0r.github.io/system24/build/system24.css');

body {
    /* font */
    --font: 'JetBrainsMono Nerd Font';
    --code-font: 'JetBrainsMono Nerd Font';
    font-weight: 400;
    letter-spacing: -0.00ch;

    /* sizes */
    --gap: 12px;
    --divider-thickness: 2px;
    --border-thickness: 1px;
    --border-hover-transition: 0.2s ease;

    /* animation/transition options */
    --animations: on;
    --list-item-transition: 0.2s ease;
    --dms-icon-svg-transition: 0.4s ease;

    /* top bar options */
    --top-bar-height: 16px;
    --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off;

    /* window controls */
    --custom-window-controls: off;
    --window-control-size: 14px;

    /* dms button options */
    --custom-dms-icon: off;
    --dms-icon-svg-url: url('');
    --dms-icon-svg-size: 90%;
    --dms-icon-color-before: var(--icon-secondary);
    --dms-icon-color-after: var(--white);
    --custom-dms-background: off;
    --dms-background-image-url: url('');
    --dms-background-image-size: cover;
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2));

    /* background image options */
    --background-image: off;
    --background-image-url: url('');

    /* transparency/blur options */
    /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. */
    --transparency-tweaks: off;
    --remove-bg-layer: off;
    --panel-blur: off;
    --blur-amount: 12px;
    --bg-floating: var(--bg-3);

    /* other options */
    --small-user-panel: off;

    /* unrounding options */
    --unrounding: on;

    /* styling options */
    --custom-spotify-bar: on;
    --ascii-titles: on;
    --ascii-loader: system24;

    /* panel labels */
    --panel-labels: on;
    --label-color: var(--text-muted);
    --label-font-weight: 600;
}

:root {
    --colors: on;

    /* text colors */
    --text-0: #1A1B1F;
    --text-1: #DADBDD;
    --text-2: #DADBDD;
    --text-3: #DADBDD;
    --text-4: #7F8083;
    --text-5: #7F8083;

    /* background and dark colors */
    --bg-1: #2A2B2F;
    --bg-2: #202124;
    --bg-3: #1A1B1F;
    --bg-4: #1A1B1F;
    --hover: rgba(255, 255, 255, 0.05);
    --active: rgba(255, 255, 255, 0.1);
    --active-2: rgba(255, 255, 255, 0.15);
    --message-hover: var(--hover);

    /* accent colors */
    --accent-1: #C75465;
    --accent-2: #C75465;
    --accent-3: #C75465;
    --accent-4: #C75465;
    --accent-5: #C75465;
    --accent-new: #D04A3B;
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent);
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent);
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent);
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent);

    /* status indicator colors */
    --online: #65AD5F;
    --dnd: #D04A3B;
    --idle: #D37838;
    --streaming: #8F63CC;
    --offline: #7F8083;

    /* border colors */
    --border-light: var(--hover);
    --border: var(--active);
    --border-hover: var(--accent-2);
    --button-border: rgba(255, 255, 255, 0.1);

    /* base colors */
    --red-1: #D04A3B;
    --red-2: #D04A3B;
    --red-3: #C04335;
    --red-4: #A73A2F;
    --red-5: #8F3228;

    --green-1: #65AD5F;
    --green-2: #65AD5F;
    --green-3: #5DA158;
    --green-4: #4B8347;
    --green-5: #3A6536;

    --blue-1: #4993C6;
    --blue-2: #4993C6;
    --blue-3: #4287B5;
    --blue-4: #3A79A2;
    --blue-5: #316C91;

    --yellow-1: #D37838;
    --yellow-2: #D37838;
    --yellow-3: #BF6B30;
    --yellow-4: #A65B27;
    --yellow-5: #8D4C1E;

    --purple-1: #8F63CC;
    --purple-2: #8F63CC;
    --purple-3: #7E57B8;
    --purple-4: #6D4AA3;
    --purple-5: #5C3E8E;
}
